stages:
  - deploy

pages:
  stage: deploy
  image: alpine:latest
  tags: ["docker"]
  script:
    - echo "Deploying Gitlab Pages from ./public"
    - ls -la public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
